.cache
syntax: glob
*.log
RemoteSystemsTempFiles
*.metadata
target/*
.DS_Store
*.settings
*.classpath
*.idea
*.iml
*.orig
*.txt~
src/main/webapp/resources/node_modules/
xpatterns-data-init/application-context.xml
atlassian-ide-plugin.xml
bin/*
*/META-INF/
*/src/main/webapp/resources/node_modules/
*/node_modules/
atlassian-ide-plugin.xml
RemoteSystemsTempFiles
Servers
bin
.metadata
target
.DS_Store
.settings
.classpath
.project
project
classpath
HadoopCryptoCompressor
.idea
.iml
.orig
.java.orig
syntax: glob
java-driver
ioenl
derby.log
mancenter-2.5
dependency-reduced-pom.xml

