.cache
syntax: glob
*.log
*.log.*
RemoteSystemsTempFiles
*.metadata
target/*
.DS_Store
*.settings
*.classpath
*.idea
*.iml
*.orig
*.txt~
src/main/webapp/resources/node_modules/
xpatterns-data-init/application-context.xml
atlassian-ide-plugin.xml
bin/*
*/META-INF/
*/src/main/webapp/resources/node_modules/
*/node_modules/
Servers
bin
.metadata
target
.settings
.classpath
.project
project
classpath
HadoopCryptoCompressor
.iml
.orig
.java.orig
syntax: glob
java-driver
ioenl
derby.log
mancenter-2.5
dependency-reduced-pom.xml
test_warehouses
localhost
jawsSchemaFolder
**/resources/*
!**/resources/jaws-env.sh